@mixin component-button {
  .pl-button {
    @include transition-all;
    cursor: pointer;
    user-select: none;
    min-width: 65px;
    margin: 0;

    .pl-box-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:active {
      position: relative;
      top: 1px;
      left: 1px;
    }

    &.pl-box-type-fill {
      box-shadow: 1px 1px 2px 0 #999;
      @include pl-colors(pl-box) {
        &:active {
          background-color: $pl-color-deep;
          border-color: $pl-color-deep;

          &.pl-box-disabled {
            background-color: $p-color-normal-disabled;
            border-color: $p-color-normal-disabled;
          }
        }

        &.pl-button-active {
          background-color: $pl-color-deep;
          border-color: $pl-color-deep;
        }
      }
    }

    &.pl-box-type-line, &.pl-box-type-none, &.pl-box-type-dashed {
      @include pl-colors(pl-box) {
        &:active {
          background-color: $pl-color-light;

          &.pl-box-disabled {
            background-color: transparent;
          }
        }

        &.pl-button-active {
          background-color: $pl-color-light;
        }
      }
    }

    &.pl-box-disabled, &.pl-box-readonly {
      position: unset;
      top: unset;
      left: unset;
    }
  }

  .pl-button-group {
    @include public-style;
    display: inline-flex;
    box-sizing: border-box;

    &.pl-button-group-vertical {
      flex-direction: column;
      /*shape*/
      .pl-button {
        border-radius: 0;

        &:not(:first-child) {
          border-top-color: transparent;
        }

        &.pl-box-type-fill {
          @include pl-colors('') {
            &.pl-box-color-#{$key}:not(:last-child) {
              border-bottom-color: $pl-color-light;
            }
          }
        }
      }

      @include pl-shapes(pl-button-group){
        .pl-button:first-child {
          border-top-left-radius: $pl-shape;
          border-top-right-radius: $pl-shape;
        }

        .pl-button:last-child {
          border-bottom-left-radius: $pl-shape;
          border-bottom-right-radius: $pl-shape;
        }
      }
    }

    &.pl-button-group-horizontal {
      flex-direction: row;

      .pl-button {
        border-radius: 0;

        &:not(:first-child) {
          border-left-color: transparent;
        }

        &.pl-box-type-fill {
          @include pl-colors(''){
            &.pl-box-color-#{$key}:not(:last-child) {
              border-right-color: $pl-color-light;
            }
          }
        }
      }

      /*shape*/
      @include pl-shapes(pl-button-group){
        .pl-button:first-child {
          border-top-left-radius: $pl-shape;
          border-bottom-left-radius: $pl-shape;
        }

        .pl-button:last-child {
          border-top-right-radius: $pl-shape;
          border-bottom-right-radius: $pl-shape;
        }
      }
    }
  }
}