@mixin component-input {
  .pl-input {
    @include transition-all;

    .pl-box-content {
      display: inline-flex;
      width: 100%;

      .pl-input-el {
        width: 100%;
        flex: 1;
        border: none;
        background: transparent;
        outline: none;

        &::placeholder {
          color: $p-color-normal-placeholder;
        }

        &::-ms-clear {
          display: none;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none !important;
          margin: 0;
        }

      }
    }

    .pl-input-prepend, .pl-input-append {
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    &.pl-input-focus {
      /*fill type*/
      &.pl-box-type-line {
        border-color: $p-color-primary;

        .pl-icon {
          color: $p-color-primary !important;
        }
      }

      &.pl-box-invalid {
        border-color: $p-color-error;
      }
    }
  }
}