@mixin component-notice{
  $position: (
          start:flex-start,
          center:center,
          end:flex-end,
  );
  .pl-notice-container {
    position: fixed;
    .pl-notice-wrapper {
      .pl-item {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }
  .pl-notice-item {
    @include public-style;
    padding: $p-padding;
    white-space: nowrap;
    background-color: white;
    min-width: 300px;
    box-shadow: $p-box-shadow;

    @include pl-colors(pl-notice-item){
      .pl-notice-item-head {
        .pl-notice-item-title {
          color: $pl-color;
        }
      }
    }

    .pl-notice-item-head {
      font-size: 14px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $p-padding;
      .pl-notice-item-title {
        flex: 1;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .pl-notice-item-close-icon {
        @include transition-all;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .pl-notice-item-body {
      font-size: 12px;
    }
  }

}