@import "components";
@import "transition";
@import "./mixin/index";

$dateItemSize: 32px;
$dateBorderRadius: 4px;
$dateInnerItemSize: 26px;

$default-theme: (
        color-primary: #3F86E8,
        color-primary-light: #92BBF3,
        color-primary-deep: #4F77AE,
        color-primary-lighter: #edf6ff,
        color-success: #30ED69,
        color-success-light: #8AF6AB,
        color-success-deep: #48B268,
        color-warn: #FFAF34,
        color-warn-light: #FFD38F,
        color-warn-deep: #BF924D,
        color-error: #FF3333,
        color-error-light: #FF8F8F,
        color-error-deep: #BF4C4C,
        color-info: #929292,
        color-info-light: #C8C8C8,
        color-info-deep: #6D6D6D,
        color-disabled: #EBEAE7,
        color-disabled-light: #F5F4F3,
        color-disabled-deep: #B0B0AE,
        color-normal-title: #17233d,
        color-normal-content: #5c677b,
        color-normal-sub-color: #a3a9b9,
        color-normal-disabled: #EBEAE7,
        color-normal-placeholder: #d5d8de,
        color-normal-border: #eee,
        color-normal-divider: #e8eaec,
        color-normal-background: #f2f2f2,
        color-normal-background-error: #ffd9ce,
        size-large: 36px,
        size-default: 28px,
        size-small: 22px,
        shape-fillet: 4px,
        shape-round: 999px,
        shape-none: 0,
        transition-time: 0.15s,
        animation-loop-time: 1.5s,
        padding: 16px,
        margin: 16px,
        border-size: 1px,
        box-shadow: 0 0 12px #eee,
        border: 1px #eee solid,
        icon-size: 1.2em,
        page-transition: all 1s cubic-bezier(.28, 1, 0, 1),
        tab-color: #eee,
        base-table-font-size: 13px,
        base-table-font-weight: 600,
        base-table-border-color: #E2E7F1,
        base-table-border-size: 0.5px,
        base-table-head-background: #F5F6FA,
        base-table-head-color: #17233D,
        base-table-head-hover-color: #E4E7EF,
        base-table-head-icon-color: #b3b6bf,
        base-table-head-icon-active-color: #17233d,
        base-table-body-color: #515A6E,
        base-table-hover-row-background: #ECF5FF,
        base-table-cell-padding: 9px,
        dateItemSize: 32px,
        dateBorderRadius: 4px,
        dateInnerItemSize: 26px,
);
$pl-default-themes: (
        "default":$default-theme,
        "black":(
                color-primary: #77777b,
                color-primary-light: #dbdbe2,
                color-primary-deep: #3e3e40,
        ),
);

@function pl-var($key) {
  @if (map_has_key($theme-map, $key)) {
    @return map-get($theme-map, $key);
  } @else {
    @return map-get($default-theme, $key);
  }
}

@mixin pl-themeify($theme,$append-default-theme:true) {
  @if (length(map-keys($theme))>0 and $append-default-theme) {
    $pl-themes: map-merge($pl-default-themes, $theme) !global;
  } @else {
    $pl-themes: $theme !global;
  }
  @each $theme-name, $theme-map in $pl-themes {
    $theme-map: $theme-map !global;

    $p-color-primary: pl-var(color-primary) !global;
    $p-color-primary-light: pl-var(color-primary-light) !global;
    $p-color-primary-deep: pl-var(color-primary-deep) !global;
    $p-color-primary-lighter: pl-var(color-primary-lighter) !global;
    $p-color-success: pl-var(color-success) !global;
    $p-color-success-light: pl-var(color-success-light) !global;
    $p-color-success-deep: pl-var(color-success-deep) !global;
    $p-color-warn: pl-var(color-warn) !global;
    $p-color-warn-light: pl-var(color-warn-light) !global;
    $p-color-warn-deep: pl-var(color-warn-deep) !global;
    $p-color-error: pl-var(color-error) !global;
    $p-color-error-light: pl-var(color-error-light) !global;
    $p-color-error-deep: pl-var(color-error-deep) !global;
    $p-color-info: pl-var(color-info) !global;
    $p-color-info-light: pl-var(color-info-light) !global;
    $p-color-info-deep: pl-var(color-info-deep) !global;
    $p-color-disabled: pl-var(color-disabled) !global;
    $p-color-disabled-light: pl-var(color-disabled-light) !global;
    $p-color-disabled-deep: pl-var(color-disabled-deep) !global;
    $p-color-normal-title: pl-var(color-normal-title) !global;
    $p-color-normal-content: pl-var(color-normal-content) !global;
    $p-color-normal-sub-color: pl-var(color-normal-sub-color) !global;
    $p-color-normal-disabled: pl-var(color-normal-disabled) !global;
    $p-color-normal-placeholder: pl-var(color-normal-placeholder) !global;
    $p-color-normal-border: pl-var(color-normal-border) !global;
    $p-color-normal-divider: pl-var(color-normal-divider) !global;
    $p-color-normal-background: pl-var(color-normal-background) !global;
    $p-color-normal-background-error: pl-var(color-normal-background-error) !global;
    $p-size-large: pl-var(size-large) !global;
    $p-size-default: pl-var(size-default) !global;
    $p-size-small: pl-var(size-small) !global;
    $p-shape-fillet: pl-var(shape-fillet) !global;
    $p-shape-round: pl-var(shape-round) !global;
    $p-shape-none: pl-var(shape-none) !global;
    $p-transition-time: pl-var(transition-time) !global;
    $p-animation-loop-time: pl-var(animation-loop-time) !global;
    $p-padding: pl-var(padding) !global;
    $p-margin: pl-var(margin) !global;
    $p-border-size: pl-var(border-size) !global;
    $p-box-shadow: pl-var(box-shadow) !global;
    $p-border: pl-var(border) !global;
    $p-icon-size: pl-var(icon-size) !global;
    $p-page-transition: pl-var(page-transition) !global;
    $p-tab-color: pl-var(tab-color) !global;
    $p-base-table-font-size: pl-var(base-table-font-size) !global;
    $p-base-table-font-weight: pl-var(base-table-font-weight) !global;
    $p-base-table-border-color: pl-var(base-table-border-color) !global;
    $p-base-table-border-size: pl-var(base-table-border-size) !global;
    $p-base-table-head-background: pl-var(base-table-head-background) !global;
    $p-base-table-head-color: pl-var(base-table-head-color) !global;
    $p-base-table-head-hover-color: pl-var(base-table-head-hover-color) !global;
    $p-base-table-head-icon-color: pl-var(base-table-head-icon-color) !global;
    $p-base-table-head-icon-active-color: pl-var(base-table-head-icon-active-color) !global;
    $p-base-table-body-color: pl-var(base-table-body-color) !global;
    $p-base-table-hover-row-background: pl-var(base-table-hover-row-background) !global;
    $p-base-table-cell-padding: pl-var(base-table-cell-padding) !global;
    $p-dateItemSize: pl-var(dateItemSize) !global;
    $p-dateBorderRadius: pl-var(dateBorderRadius) !global;
    $p-dateInnerItemSize: pl-var(dateInnerItemSize) !global;

    @if (str_length($theme-name) >0) {
      .pl-theme-#{$theme-name} {
        @content;
      }
    } @else {
      html {
        @content;
      }
    }
  }
}

@mixin pl-theme-wrap($theme) {
  @include pl-themeify($theme, true) {
    @content;
  }
}

@mixin pl-use-theme($theme:()) {
  @include pl-themeify($theme, false) {
    @include component-mixin;
    @include transition-mixin;
  }
}

@mixin pl-colors($prefix) {
  @each $key in (primary, success, warn, error, info, disabled) {
    $key: $key !global;
    $pl-color: pl-var(color-#{$key}) !global;
    $value: pl-var(color-#{$key}) !global;
    $pl-color-deep: pl-var(color-#{$key}-deep) !global;
    $pl-color-light: pl-var(color-#{$key}-light) !global;
    @if (str_length($prefix)>0) {
      &.#{$prefix}-color-#{$key} {
        @content;
      }
    } @else {
      @content;
    }
  }
}

@mixin pl-shapes($prefix) {
  @each $key in (none, fillet, round) {
    $pl-shape: pl-var(shape-#{$key}) !global;
    $value: pl-var(shape-#{$key}) !global;
    $key: $key !global;
    &.#{$prefix}-shape-#{$key} {
      @content
    }
  }
}

@mixin pl-sizes($prefix) {
  @each $key in (large, default, small) {
    $pl-size: pl-var(size-#{$key}) !global;
    $value: pl-var(size-#{$key}) !global;
    $key: $key !global;
    &.#{$prefix}-size-#{$key} {
      @content
    }
  }
}


