@import "./variable";
@import "./mixin/index";
@import "./transition";

/*@formatter:off*/
:root{
  /*基本*/
  --p-color-primary:#3F86E8;
  --p-color-primary-light:#92BBF3;
  --p-color-primary-deep:#4F77AE;
  --p-color-primary-lighter:#edf6ff;
  /*成功*/
  --p-color-success:#30ED69;
  --p-color-success-light:#8AF6AB;
  --p-color-success-deep:#48B268;
  /*警告*/
  --p-color-warn:#FFAF34;
  --p-color-warn-light:#FFD38F;
  --p-color-warn-deep:#BF924D;
  /*错误*/
  --p-color-error:#FF3333;
  --p-color-error-light:#FF8F8F;
  --p-color-error-deep:#BF4C4C;
  /*提示*/
  --p-color-info:#929292;
  --p-color-info-light:#C8C8C8;
  --p-color-info-deep:#6D6D6D;
  /*禁用*/
  --p-color-disabled:#EBEAE7;
  --p-color-disabled-light:#F5F4F3;
  --p-color-disabled-deep:#B0B0AE;

  /*---------------------------------------文字色-------------------------------------------*/
  --p-color-normal-title:#17233d;                                             //标题
  --p-color-normal-content:#5c677b;                                           //内容
  --p-color-normal-sub-color:#a3a9b9;                                         //辅助（图标）
  --p-color-normal-disabled:#EBEAE7;                                          //失效
  --p-color-normal-placeholder:#d5d8de;                                       //占位符
  --p-color-normal-border:#eee;                                               //边框
  --p-color-normal-divider:#e8eaec;                                           //分割线
  --p-color-normal-background:#f2f2f2;                                        //背景色
  --p-color-normal-background-error:#ffd9ce;                                  //背景色


  /*---------------------------------------大小尺寸-------------------------------------------*/
  --p-size-large:36px;
  --p-size-default:28px;
  --p-size-small:22px;

  /*---------------------------------------形状-------------------------------------------*/
  --p-shape-fillet:4px;
  --p-shape-round:999px;
  --p-shape-none:0;

  /*---------------------------------------其他变量-------------------------------------------*/
  --p-transition-time:0.15s;                                                  //transition过渡动画时长
  --p-animation-loop-time:1.5s;                                               //css动画循环时长
  --p-padding:16px;                                                           //默认padding大小
  --p-margin:16px;                                                            //默认margin大小
  --p-border-size:1px;                                                        //默认border大小
  --p-box-shadow: 0 0 12px #eee;                                              //阴影
  --p-border:var(--p-border-size) var(--p-color-normal-border) solid;         //边框
  --p-icon-size:1.2em;                                                        //图标大小
  --p-page-transition:all 1s cubic-bezier(.28, 1, 0, 1);                      //页面动画设置

  /*---------------------------------------组件变量-------------------------------------------*/
  /*页签Tabs*/
  --p-tab-color: #eee;                                                        //Tab页签组件的边框色

  /*表格Table*/
  --p-base-table-font-size:13px;                                              //表格文字大小
  --p-base-table-font-weight:600;                                             //表格文字粗细
  --p-base-table-border-color:#E2E7F1;                                        //表格边框颜色
  --p-base-table-border-size:0.5px;                                           //表格边框大小
  --p-base-table-head-background:#F5F6FA;                                     //表格标题背景色
  --p-base-table-head-color:#17233D;                                          //表格标题文字色
  --p-base-table-head-hover-color:#E4E7EF;                                    //表格标题鼠标悬浮背景色
  --p-base-table-head-icon-color: #b3b6bf;                                    //表格标题图标色
  --p-base-table-head-icon-active-color: #17233d;                             //表格标题图标激活色
  --p-base-table-body-color:#515A6E;                                          //表格表体文字色
  --p-base-table-hover-row-background:#ECF5FF;                                //表格表体鼠标悬浮背景色
  --p-base-table-cell-padding:9px;                                            //表格表体单元格左右内边距
}
/*@formatter:on*/

.pl-body-user-select-none {
  user-select: none;
}

.pl-column-edit-item {
  .pl-box {
    width: 100% !important;
  }
}

@include themeify {
  @include component-mixin;
}