/**
 * scss变量
 * @author  韦胜健
 * @date    2018/12/4 10:13
 */

/*@formatter:off*/
/*---------------------------------------颜色-------------------------------------------*/
/*@formatter:on*/

$list-color: (
        primary:var(--p-color-primary),
        success:var(--p-color-success),
        warn:var(--p-color-warn),
        error:var(--p-color-error),
        info:var(--p-color-info),
        disabled:var(--p-color-disabled)
);
$list-size: (
        large:36px,
        default:28px,
        small:22px,
);
$list-shape: (
        fillet:var(--p-shape-fillet),
        round:var(--p-shape-round),
        none:var(--p-shape-none),
);
/*---------------------------------------日期相关-------------------------------------------*/
$dateItemSize: 32px;
$dateBorderRadius: 4px;
$dateInnerItemSize: 26px;


