@import "components/index";

$p-color-primary: #3F86E8;
$p-color-primary-light: #92BBF3;
$p-color-primary-deep: #4F77AE;
$p-color-primary-lighter: #edf6ff;

$p-color-success: #30ED69;
$p-color-success-light: #8AF6AB;
$p-color-success-deep: #48B268;

$p-color-warn: #FFAF34;
$p-color-warn-light: #FFD38F;
$p-color-warn-deep: #BF924D;

$p-color-error: #FF3333;
$p-color-error-light: #FF8F8F;
$p-color-error-deep: #BF4C4C;

$p-color-info: #929292;
$p-color-info-light: #C8C8C8;
$p-color-info-deep: #6D6D6D;

$p-color-disabled: #EBEAE7;
$p-color-disabled-light: #F5F4F3;
$p-color-disabled-deep: #B0B0AE;

$p-color-normal-title: #17233d;
$p-color-normal-content: #5c677b;
$p-color-normal-sub-color: #a3a9b9;
$p-color-normal-disabled: #EBEAE7;
$p-color-normal-placeholder: #d5d8de;
$p-color-normal-border: #eee;
$p-color-normal-divider: #e8eaec;
$p-color-normal-background: #f2f2f2;
$p-color-normal-background-error: #ffd9ce;

$p-size-large: 36px;
$p-size-default: 28px;
$p-size-small: 22px;

$p-shape-fillet: 4px;
$p-shape-round: 999px;
$p-shape-none: 0;

$p-transition-time: 0.15s;
$p-animation-loop-time: 1.5s;
$p-padding: 16px;
$p-margin: 16px;
$p-border-size: 1px;
$p-box-shadow: 0 0 12px #eee;
$p-border: $p-border-size $p-color-normal-border solid;
$p-icon-size: 1.2em;
$p-page-transition: all 1s cubic-bezier(.28, 1, 0, 1);

$p-tab-color: #eee;

$p-base-table-font-size: 13px;
$p-base-table-font-weight: 600;
$p-base-table-border-color: #E2E7F1;
$p-base-table-border-size: 0.5px;
$p-base-table-head-background: #F5F6FA;
$p-base-table-head-color: #17233D;
$p-base-table-head-hover-color: #E4E7EF;
$p-base-table-head-icon-color: #b3b6bf;
$p-base-table-head-icon-active-color: #17233d;
$p-base-table-body-color: #515A6E;
$p-base-table-hover-row-background: #ECF5FF;
$p-base-table-cell-padding: 9px;

$p-dateItemSize: 32px;
$p-dateBorderRadius: 4px;
$p-dateInnerItemSize: 26px;

@supports ( (--variable: 0)) {
  $p-color-primary: var(--p-color-primary) !global;
  $p-color-primary-light: var(--p-color-primary-light) !global;
  $p-color-primary-deep: var(--p-color-primary-deep) !global;
  $p-color-primary-lighter: var(--p-color-primary-lighter) !global;
  $p-color-success: var(--p-color-success) !global;
  $p-color-success-light: var(--p-color-success-light) !global;
  $p-color-success-deep: var(--p-color-success-deep) !global;
  $p-color-warn: var(--p-color-warn) !global;
  $p-color-warn-light: var(--p-color-warn-light) !global;
  $p-color-warn-deep: var(--p-color-warn-deep) !global;
  $p-color-error: var(--p-color-error) !global;
  $p-color-error-light: var(--p-color-error-light) !global;
  $p-color-error-deep: var(--p-color-error-deep) !global;
  $p-color-info: var(--p-color-info) !global;
  $p-color-info-light: var(--p-color-info-light) !global;
  $p-color-info-deep: var(--p-color-info-deep) !global;
  $p-color-disabled: var(--p-color-disabled) !global;
  $p-color-disabled-light: var(--p-color-disabled-light) !global;
  $p-color-disabled-deep: var(--p-color-disabled-deep) !global;
  $p-color-normal-title: var(--p-color-normal-title) !global;
  $p-color-normal-content: var(--p-color-normal-content) !global;
  $p-color-normal-sub-color: var(--p-color-normal-sub-color) !global;
  $p-color-normal-disabled: var(--p-color-normal-disabled) !global;
  $p-color-normal-placeholder: var(--p-color-normal-placeholder) !global;
  $p-color-normal-border: var(--p-color-normal-border) !global;
  $p-color-normal-divider: var(--p-color-normal-divider) !global;
  $p-color-normal-background: var(--p-color-normal-background) !global;
  $p-color-normal-background-error: var(--p-color-normal-background-error) !global;
  $p-size-large: var(--p-size-large) !global;
  $p-size-default: var(--p-size-default) !global;
  $p-size-small: var(--p-size-small) !global;
  $p-shape-fillet: var(--p-shape-fillet) !global;
  $p-shape-round: var(--p-shape-round) !global;
  $p-shape-none: var(--p-shape-none) !global;
  $p-transition-time: var(--p-transition-time) !global;
  $p-animation-loop-time: var(--p-animation-loop-time) !global;
  $p-padding: var(--p-padding) !global;
  $p-margin: var(--p-margin) !global;
  $p-border-size: var(--p-border-size) !global;
  $p-box-shadow: var(--p-box-shadow) !global;
  $p-border: var(--p-border) !global;
  $p-icon-size: var(--p-icon-size) !global;
  $p-page-transition: var(--p-page-transition) !global;
  $p-tab-color: $p-tab-color !global;
  $p-base-table-font-size: var(--p-base-table-font-size) !global;
  $p-base-table-font-weight: var(--p-base-table-font-weight) !global;
  $p-base-table-border-color: var(--p-base-table-border-color) !global;
  $p-base-table-border-size: var(--p-base-table-border-size) !global;
  $p-base-table-head-background: var(--p-base-table-head-background) !global;
  $p-base-table-head-color: var(--p-base-table-head-color) !global;
  $p-base-table-head-hover-color: var(--p-base-table-head-hover-color) !global;
  $p-base-table-head-icon-color: var(--p-base-table-head-icon-color) !global;
  $p-base-table-head-icon-active-color: var(--p-base-table-head-icon-active-color) !global;
  $p-base-table-body-color: var(--p-base-table-body-color) !global;
  $p-base-table-hover-row-background: var(--p-base-table-hover-row-background) !global;
  $p-base-table-cell-padding: var(--p-base-table-cell-padding) !global;
}

$list-color: (
        primary:$p-color-primary,
        success:$p-color-success,
        warn:$p-color-warn,
        error:$p-color-error,
        info:$p-color-info,
        disabled:$p-color-disabled
);
$list-color-deep: (
        primary:$p-color-primary-deep,
        success:$p-color-success-deep,
        warn:$p-color-warn-deep,
        error:$p-color-error-deep,
        info:$p-color-info-deep,
        disabled:$p-color-disabled-deep
);
$list-color-light: (
        primary:$p-color-primary-light,
        success:$p-color-success-light,
        warn:$p-color-warn-light,
        error:$p-color-error-light,
        info:$p-color-info-light,
        disabled:$p-color-disabled-light
);

$list-size: (
        large:36px,
        default:28px,
        small:22px,
);
$list-shape: (
        fillet:$p-shape-fillet,
        round:$p-shape-round,
        none:$p-shape-none,
);
$dateItemSize: 32px;
$dateBorderRadius: 4px;
$dateInnerItemSize: 26px;


$default-theme: (
        color-primary: #3F86E8,
        color-primary-light: #92BBF3,
        color-primary-deep: #4F77AE,
        color-primary-lighter: #edf6ff,
        color-success: #30ED69,
        color-success-light: #8AF6AB,
        color-success-deep: #48B268,
        color-warn: #FFAF34,
        color-warn-light: #FFD38F,
        color-warn-deep: #BF924D,
        color-error: #FF3333,
        color-error-light: #FF8F8F,
        color-error-deep: #BF4C4C,
        color-info: #929292,
        color-info-light: #C8C8C8,
        color-info-deep: #6D6D6D,
        color-disabled: #EBEAE7,
        color-disabled-light: #F5F4F3,
        color-disabled-deep: #B0B0AE,
);
$pl-default-themes: (
        "":$default-theme,
        "black":(
                color-primary: #77777b,
                color-primary-light: #dbdbe2,
                color-primary-deep: #3e3e40,
        ),
);

@function pl-var($key) {
  @if (map_has_key($theme-map, $key)) {
    @return map-get($theme-map, $key);
  } @else {
    @return map-get($default-theme, $key);
  }
}

@mixin pl-themeify($theme,$append-default-theme:true) {
  @if (length(map-keys($theme))>0 and $append-default-theme) {
    $pl-themes: map-merge($pl-default-themes, $theme) !global;
  } @else {
    $pl-themes: $theme !global;
  }
  @each $theme-name, $theme-map in $pl-themes {
    $theme-map: $theme-map !global;
    @if (str_length($theme-name) >0) {
      .#{$theme-name} {
        @content;
      }
    } @else {
      html {
        @content;
      }
    }
  }
}

@mixin pl-theme-wrap($theme) {
  @include pl-themeify($theme, true){
    @content;
  }
}

@mixin pl-use-theme($theme:()) {
  @include pl-themeify($theme, false) {
    @include component-mixin;
  }
}

$pl-colors: (primary, success, warn, error, info, disabled);
@mixin pl-colors($prefix) {
  @each $key in $pl-colors {
    &.#{$prefix}-color-#{$key} {
      $pl-color: pl-var(color-#{$key}) !global;
      $pl-color-deep: pl-var(color-#{$key}-deep) !global;
      $pl-color-light: pl-var(color-#{$key}-light) !global;
      @content;
    }
  }
}


