$theme-default: (
        backgroundColor:rgba(0, 0, 0, .125),
        backgroundColorLighter:rgba(255, 255, 255, .85),
        backgroundColorDeeper:rgba(255, 255, 255, .1),
        backgroundColorActive:rgba(255, 255, 255, .06),
)