@mixin component-page-bar{
  .pl-page-bar {
    @include public-style;
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .pl-page-bar-left {
      display: inline-flex;
      align-items: center;
      .pl-page-bar-operation {
        padding: 0 2em;
        display: flex;
        align-items: center;
        .pl-page-bar-operate-num-wrapper {
          display: flex;
          align-items: center;
          padding: 0 1em;
          .pl-page-bar-operate-num {
            width: 30px;
            text-align: center;
          }
        }
      }
      .pl-page-bar-operate-icon, .pl-page-bar-operate-num {
        cursor: pointer;
        color: $p-color-info;
        &:hover {
          color: $p-color-primary;
        }
        &.pl-page-bar-operate-num-active {
          color: $p-color-primary;
        }
        &.pl-page-bar-operate-refresh-icon {
          margin-left: 2em;
        }
        &.pl-icon-loading {
          color: $p-color-primary;
        }
      }
      .pl-page-bar-jump-wrapper {
        .pl-page-bar-jump-input {
          border: none;
          .pl-input-el {
            text-align: center;
          }
        }
      }
    }

    .pl-page-bar-right {
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      .pl-box, .pl-box-content {
        width: fit-content !important;
      }
    }
  }

}