@mixin component-popper{
  .pl-popover {
    @include public-style;
    display: inline-block;
    .pl-popover-reference {
      display: inline-block;
    }
  }

  $popper-arrow-size: 6px;
  $popper-back-ground: white;
  .pl-popper {
    .pl-popper-position {
      .pl-popover-content {
        background-color: $popper-back-ground;
        @include transition-all;
      }

      $popper-scale-animates: (
              top-start:(
                      transform-origin:bottom left,
                      active-transform:scaleY(1),
                      inactive-transform:scaleY(0),
                      arrow-top:inherit,
                      arrow-bottom:-$popper-arrow-size*2,
                      arrow-left:$popper-arrow-size,
                      arrow-right:inherit,
                      arrow-border-color:$popper-back-ground transparent transparent transparent,
                      box-shadow-x:0,
                      box-shadow-y:-2px,
              ),
              top-center:(
                      transform-origin:bottom center,
                      active-transform:scaleY(1),
                      inactive-transform:scaleY(0),
                      arrow-top:inherit,
                      arrow-bottom:-$popper-arrow-size*2,
                      arrow-left:calc(50% - #{$popper-arrow-size}),
                      arrow-right:inherit,
                      arrow-border-color:$popper-back-ground transparent transparent transparent,
                      box-shadow-x:0,
                      box-shadow-y:-2px,
              ),
              top-end:(
                      transform-origin:bottom right,
                      active-transform:scaleY(1),
                      inactive-transform:scaleY(0),
                      arrow-top:inherit,
                      arrow-bottom:-$popper-arrow-size*2,
                      arrow-left:inherit,
                      arrow-right:$popper-arrow-size,
                      arrow-border-color:$popper-back-ground transparent transparent transparent,
                      box-shadow-x:0,
                      box-shadow-y:-2px,
              ),
              bottom-start:(
                      transform-origin:top left,
                      active-transform:scaleY(1),
                      inactive-transform:scaleY(0),
                      arrow-top:-$popper-arrow-size*2,
                      arrow-bottom:inherit,
                      arrow-left:$popper-arrow-size,
                      arrow-right:inherit,
                      arrow-border-color:transparent transparent $popper-back-ground transparent,
                      box-shadow-x:0,
                      box-shadow-y:2px,
              ),
              bottom-center:(
                      transform-origin:top center,
                      active-transform:scaleY(1),
                      inactive-transform:scaleY(0),
                      arrow-top:-$popper-arrow-size*2,
                      arrow-bottom:inherit,
                      arrow-left:calc(50% - #{$popper-arrow-size}),
                      arrow-right:inherit,
                      arrow-border-color:transparent transparent $popper-back-ground transparent,
                      box-shadow-x:0,
                      box-shadow-y:2px,
              ),
              bottom-end:(
                      transform-origin:top right,
                      active-transform:scaleY(1),
                      inactive-transform:scaleY(0),
                      arrow-top:-$popper-arrow-size*2,
                      arrow-bottom:inherit,
                      arrow-left:inherit,
                      arrow-right:$popper-arrow-size,
                      arrow-border-color:transparent transparent $popper-back-ground transparent,
                      box-shadow-x:0,
                      box-shadow-y:2px,
              ),
              left-start:(
                      transform-origin:right top,
                      active-transform:scaleX(1),
                      inactive-transform:scaleX(0),
                      arrow-top:$popper-arrow-size,
                      arrow-bottom:inherit,
                      arrow-left:inherit,
                      arrow-right:-$popper-arrow-size*2,
                      arrow-border-color:transparent transparent transparent $popper-back-ground,
                      box-shadow-x:-2px,
                      box-shadow-y:0,
              ),
              left-center:(
                      transform-origin:right center,
                      active-transform:scaleX(1),
                      inactive-transform:scaleX(0),
                      arrow-top:calc(50% - #{$popper-arrow-size}),
                      arrow-bottom:inherit,
                      arrow-left:inherit,
                      arrow-right:-$popper-arrow-size*2,
                      arrow-border-color:transparent transparent transparent $popper-back-ground,
                      box-shadow-x:-2px,
                      box-shadow-y:0,
              ),
              left-end:(
                      transform-origin:right bottom,
                      active-transform:scaleX(1),
                      inactive-transform:scaleX(0),
                      arrow-top:inherit,
                      arrow-bottom:$popper-arrow-size,
                      arrow-left:inherit,
                      arrow-right:-$popper-arrow-size*2,
                      arrow-border-color:transparent transparent transparent $popper-back-ground,
                      box-shadow-x:-2px,
                      box-shadow-y:0,
              ),
              right-start:(
                      transform-origin:left top,
                      active-transform:scaleX(1),
                      inactive-transform:scaleX(0),
                      arrow-top:$popper-arrow-size,
                      arrow-bottom:inherit,
                      arrow-left:-$popper-arrow-size*2,
                      arrow-right:inherit,
                      arrow-border-color:transparent $popper-back-ground transparent transparent,
                      box-shadow-x:2px,
                      box-shadow-y:0,
              ),
              right-center:(
                      transform-origin:left center,
                      active-transform:scaleX(1),
                      inactive-transform:scaleX(0),
                      arrow-top:calc(50% - #{$popper-arrow-size}),
                      arrow-bottom:inherit,
                      arrow-left:-$popper-arrow-size*2,
                      arrow-right:inherit,
                      arrow-border-color:transparent $popper-back-ground transparent transparent,
                      box-shadow-x:2px,
                      box-shadow-y:0,
              ),
              right-end:(
                      transform-origin:left bottom,
                      active-transform:scaleX(1),
                      inactive-transform:scaleX(0),
                      arrow-top:inherit,
                      arrow-bottom:$popper-arrow-size,
                      arrow-left:-$popper-arrow-size*2,
                      arrow-right:inherit,
                      arrow-border-color:transparent $popper-back-ground transparent transparent,
                      box-shadow-x:2px,
                      box-shadow-y:0,
              ),
      );

      @each $key, $type in $popper-scale-animates {
        $type-object: map_get($popper-scale-animates, $key);
        &.pl-popper-position-#{$key} {
          .pl-popover-content {
            box-shadow: map_get($type-object, box-shadow-x) map_get($type-object, box-shadow-y) 12px 0 rgba(0, 0, 0, .1);
            transform-origin: map_get($type-object, transform-origin);
            &.pl-popover-animate-drop-enter-active, &.pl-popover-animate-drop-leave-active {
              transform: map_get($type-object, active-transform);
              opacity: 1;
            }
            &.pl-popover-animate-drop-enter, &.pl-popover-animate-drop-leave-to {
              transform: map_get($type-object, inactive-transform);
              opacity: 0;
            }
            &.pl-popover-animate-scale-enter-active, &.pl-popover-animate-scale-leave-active {
              transform: scale(1);
              opacity: 1;
            }
            &.pl-popover-animate-scale-enter, &.pl-popover-animate-scale-leave-to {
              transform: scale(0.6);
              opacity: 0;
            }
          }
          &.pl-popper-position-arrow {
            .pl-popover-content {
              &::after {
                content: " ";
                position: absolute;
                border: $popper-arrow-size solid;

                top: map_get($type-object, arrow-top);
                bottom: map_get($type-object, arrow-bottom);
                left: map_get($type-object, arrow-left);
                right: map_get($type-object, arrow-right);
                border-color: map_get($type-object, arrow-border-color);
              }
            }
          }
        }
      }
    }
  }

}