@mixin component-progress{
  .pl-progress {
    @include public-style;
    width: 100%;
    height: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .pl-progress-bar {
      flex: 1;
      background-color: $p-color-info;
      border-radius: 9px;
      height: 100%;
      position: relative;
      .pl-progress-bar-percent {
        height: 100%;
        border-radius: inherit;
        @include transition-all;
        &.pl-progress-bar-percent-normal {
          background-color: $p-color-primary;
        }
        &.pl-progress-bar-percent-success {
          background-color: $p-color-success;
        }
        &.pl-progress-bar-percent-error {
          background-color: $p-color-error;
        }
      }
      .pl-progress-bar-active {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(white, 0.6);
        border-radius: inherit;
      }
    }

    .pl-progress-label {
      width: 60px;
      text-align: right;
    }
  }

}