@mixin component-tag {
  .pl-tag {
    @include public-style;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 6px;
    cursor: pointer;
    user-select: none;

    .pl-tag-close {
      margin-left: 3px;
      position: relative;
      top: 1px;
    }

    @include pl-sizes(pl-tag) {
      height: $value/1.5;
      line-height: $value/1.5;
      font-size: $value/2.5;
    }

    /*fill type*/
    &.pl-tag-type-fill {
      @include pl-colors(pl-tag) {
        background-color: $value;
        border: solid $p-border-size $value;
        color: white;

        &:active {
          background-color: $pl-color-deep;
          border-color: $pl-color-deep;

          &.pl-tag-disabled {
            background-color: $p-color-disabled;
            border-color: $p-color-disabled;
          }
        }
      }
    }

    /*line type*/
    &.pl-tag-type-line {
      @include pl-colors(pl-tag) {
        border: solid $p-border-size $value;
        background: transparent;
        color: $value;

        &:active {
          background-color: $pl-color-light;

          &.pl-tag-disabled {
            background-color: transparent;
          }
        }
      }
    }

    &.pl-tag-dashed {
      border-style: dashed;
    }
  }

  /*none type*/
  &.pl-tag-type-none {
    @include pl-colors(pl-tag) {
      border: solid $p-border-size transparent;
      background: transparent;
      color: $pl-color-deep;

      &:active {
        background-color: $pl-color-light;

        &.pl-tag-disabled {
          background-color: transparent;
        }
      }
    }
  }

  /*dash type*/
  &.pl-tag-type-dashed {
    @include pl-colors(pl-tag) {
      border: dotted $p-border-size $value;
      background: transparent;
      color: $pl-color-deep;

      &:active {
        background-color: $pl-color-light;

        &.pl-tag-disabled {
          background-color: transparent;
        }
      }
    }
  }

  @include pl-shapes(pl-tag) {
    border-radius: $value;
  }
}